.App {
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  border: 1px solid red;
  height: 100vh;
  /* width: 100; */

  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "a c"
    "b c"
    "d c";
}

.header {
  background-color: rgb(233, 207, 212);
  grid-area: a;
}
.main {
  background-color: rgb(241, 229, 211);
  grid-area: b;
}

.footer {
  background-color: rgb(240, 192, 200);
  grid-area: d;
}
